*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #ff3d3d;
}
#image{
    border-style: dashed;
    border-radius: 50px;
    margin-top: 2%;
    margin-left: 35%;
    width: 650px;
    height: 70px;
    background-repeat: no-repeat;
    color:white;
    background-size: 100%;
    font-size: 150%;
    line-height: 60px;
    text-align: center;
    font-family: Century Gothic;
}
#div_1{
    align-content: center;
    margin-top: 2%;
    float: left;
    animation: 20s jayden infinite;
}
#Image_1{
  position: absolute;
  height: auto;
  width: 100%;
}
#Image_2{
    position: absolute;
    height: auto;
    width: 100%;
}
#Image_3{
    position: absolute;
    height: auto;
    width: 100%;
}
#Image_4{
    position: absolute;
    height: auto;
    width: 100%;
}
#Image_5{
    position: absolute;
    height: auto;
    width: 100%;
}
@keyframes jayden{
    0%{
           left: -100%;
    }
    5%{
           left: -100%;
     
    }
    10%{
           left: -0%;
    }
    15%{
           left: -0%;
    }
    20%{
           left: -100%;
    }
    25%{
           left: -100%;
    }
    30%{
           left: -200%;
    }
    35%{
           left: -200%;
    }
    40%{
           left: -300%;
    }
    45%{
           left: -300%;
    }
    50%{
           left: -400%;
    }
    55%{
           left: -400%;
    }
    60%{
           left: -300%;
    }
    65%{
           left: -300%;
    }
    70%{
           left: -200%;
    }
    75%{
           left: -200%;
    }
    80%{
           left: -100%;
    }
    85%{
           left: -100%;
    }
    90%{
           left: -0%;
    }
    95%{
           left: -0%;
    }
    100%{
           left: -100%;
    }