*{
      box-sizing: border-box;
       margin: 0;
       padding: 0;
}
body{  
       justify-content: center;
       align-items: center;
       display: flex;
}
p{
       margin-left: 65%;
       margin-top: 200%;
       align-items: center;
       justify-content: center;
}
.div_1{
       position:relative;
       width: 90%;
       overflow: hidden ;
}
.slider{
       display: flex;
       width: 100%;
}
.slider img{
       height : 100%;
       width: 100%;
       margin: 5px;
       transition: all 0.15s ease;
}
.slider input{
       display: none;
}
.dots{
       display: flex;
       justify-content: center;
       margin: 5px;
}
.dots label{
       height: 20px;
       width: 20px;
       border-radius: 50%;
       border: solid #000;
       cursor: pointer;
       transition: all 0.5s ease;
       margin: 5px;
}
.dots label:hover {
       background: #000;
}
#Image_1:checked ~ .m1{
       margin-left: 0;
}
#Image_2:checked ~ .m2{
       margin-left: -100%;
}
#Image_3:checked ~ .m3{
       margin-left: -200%;
}
#Image_4:checked ~ .m4{
       margin-left: -300%;
}
#Image_5:checked ~ .m5{
       margin-left: -400%;
}